<footer class="small">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 text-center copyright">
                Copyright © 2015 - ota42y powerd by <a href="https://github.com/ota42y/honokichi">Honokichi</a>
            </div>
        </div>
    </div>
</footer>
<!-- /.footer -->

<script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

</body>
</html>
